HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Ignore specific files
file_to_ignore.txt
another_file_to_ignore.log

# Ignore all files in a directory
logs/

# Ignore all files with a specific extension
*.tmp

# Ignore files in a specific directory and its subdirectories
node_modules/
.mvn/wrapper
.gitignore
